:root[simple-ui-vertical-tabs="true"] #navigator-toolbox {
  display: flex !important;
  flex-direction: row !important;
}

:root[simple-ui-vertical-tabs="true"] #tabbrowser-tabs {
  display: flex !important;
  flex-direction: column !important;
  width: 240px !important;
  background-color: #161925 !important;
  transition: width 0.25s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

:root[simple-ui-vertical-tabs="true"] #tabbrowser-tabs[collapsed="true"] {
  width: 48px !important;
}


